.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }

  .whatsapp-icon {
    margin-top:13px;
  }


  .cotizacion {
    position:fixed;
    width:120px;
    height:30px;
    bottom:55px;
    right:120px;
    background-color:#258dd3;
    color:#FFF;
    border-radius:10px;
    line-height: 30px;
    text-align:center;
    vertical-align: middle;
    font-size:13px;
    z-index:200;
  }
  .cotizacion:hover {
      cursor:pointer;
  }

  .cotizacion-icon {
    margin-top:6px;
  }


  @media (max-width: 700px) {
    .whatsapp {
        position:fixed;
        width:60px;
        height:60px;
        bottom:16px;
        right:16px;
        background-color:#25d366;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        font-size:30px;
        z-index:100;
      }

      .whatsapp-icon {
        margin-top:13px;
      }


      .cotizacion {
        position:fixed;
        width:120px;
        height:30px;
        bottom:31px;
        right:80px;
        background-color:#258dd3;
        color:#FFF;
        border-radius:10px;
        line-height: 30px;
        text-align:center;
        vertical-align: middle;
        font-size:13px;
        z-index:200;
      }

      .cotizacion-icon {
        margin-top:6px;
      }
  }
